/*! Author: Asif Mughal (www.codehim.com) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	
}

.cm-login-form {
	user-select: none;
	-webkit-user-select: none;
	padding: 20px;
}

.cm-login-form .cm-text-input {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	display: black;
	width: 100%;
	border: 0;
	outline: 0;
	border-radius: 16px;
	margin: 15px 0;
}
.cm-login-form .cm-file-input {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	display: black;
	width: auto;
	border: 0;
	outline: 0;
	border-radius: 16px;
	margin: 15px 0;
}

.cm-text-input::placeholder {
	color: rgba(255, 255, 255, 0.85);
}

.cm-login-form .fa {
	color: rgba(255, 255, 255, 0.45);
}

/* Animation */

@keyframes slideLeft {
	from {
		left: -100%;
	}
	to {
		left: -100px;
	}
}


/* Responsive PC view*/

@media only screen and (min-width: 480px) {
	.cm-login-form {
		position: absolute;
		top: 25px;
		left: 100px; 
		width: 1080px;
		height: auto;
		z-index: 5;
		position: relative;
		background: #2e2d2d9a;
		border: 1px solid rgba(255, 255, 255, 0.65);
		animation: slideLeft 1s ease forwards;
		-webkit-animation: slideLeft 1s ease forwards;
	}
}
legend {
background-color:black;
color: white;
padding: 5px 10px;
}
  
fieldset{
	padding: 5px;
}

#demo{
	color:white;
	font-size: 25px;
	font-weight: 500;
	padding-left:  150px;
	
}

.search{
	background-color: white;
	color: black;
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding: 10px;
	font-weight: 900px;
	
}

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.display_data{
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	flex:left;
}


.blockchain-container-data{
	width: 100%;
	display: inline-flex;
	padding-left: 30px;
}

.block-chain-50{
	width: 50%;
}

.block-chain-25{
	width: 60%;
	font-weight: 600;
	
}

.block-chain-75{
	width: 75%;
	color: blue;
	font-weight: 600;
	text-transform: capitalize;
}

.display-inline-flex{ 
	display: inline-flex;
}

