/*! Author: Asif Mughal (www.codehim.com) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   
}

body {
	font-family: 'Montserrat', sans-serif;
	
}

.cm-login-form .cm-text-input {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	display: black;
	width: 100%;
	border: 0;
	outline: 0;
	border-radius: 16px;
	margin: 15px 0;
}

.cm-text-input::placeholder {
	color: rgba(255, 255, 255, 0.85);
}

.cm-login-form .fa {
	color: rgba(255, 255, 255, 0.45);
}
.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cm-submit2 {
	-webkit-appearance: none;
	background: #EB3349;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #153e97, #153e97);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #153e97, #153e97);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 10px 16px;
	border: 0;
	margin-top: 10px;
	width: 100%;
	border-radius: 16px;
	color: rgba(255, 255, 255, 0.85);
}

.btn-submit:focus {
	outline: 0;
}

.cm-btn,
.btn-submit {
	-webkit-tap-highlight-color: transparent;
	transition: .3s;
	cursor: pointer;
}

.cm-btn:hover,
.cm-submit:hover {
	opacity: 0.9;
	transition: .3s;
}

#demo{
	color:white;
	font-size: 25px;
	font-weight: 500;
	padding-left:  150px;
	
}

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.display_data{
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	flex:left;
}


.blockchain-container-data{
	width: 100%;
	display: inline-flex;
	padding-left: 30px;
}

.block-chain-50{
	width: 50%;
}

.block-chain-25{
	width: 60%;
	font-weight: 600;
	
}

.block-chain-75{
	width: 100%;
	color: blue;
	font-weight: 600;
	text-transform: capitalize;
	margin-left: -40px;
}

.display-inline-flex{ 
	display: inline-flex;
}
.display-inline-block{ 
	display: inline-block;
}